.experience {
  &__item {
    margin-bottom: 24px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
}

.flip-list-move {
  transition: transform 0.5s;
}

::v-deep .no-move {
  transition: transform 0s;
}

::v-deep .ghost {
  opacity: 0.5;
  overflow: hidden;

  .preview {
    background: lighten($app-primary, 35%);
  }

  .prefilled-modal {
    visibility: hidden;
    opacity: 0;
  }
}

.sortable-chosen {
  overflow: hidden;
}

::v-deep .experience-form {
  padding: 32px 16px 0 16px;
  overflow: hidden;
  position: relative;
  max-height: 115px;
  transition: all 0.5s ease;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: 32px;
    max-height: 95px;
    overflow: hidden;
  }

  @media (min-width: map_get($grid-breakpoints, lg)) {
    padding: 32px 16px;
    max-height: 115px;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding: 32px;
    max-height: 95px;
  }

  &::-webkit-scrollbar {
    width: 2px;
    background-color: #f1f1f1;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $app-primary;
    border-radius: 8px;
    outline: none;
  }

  .disable-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff, 0.7);
    z-index: 5;
  }
}

::v-deep .experience-form-btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 32px;

  &__item {
    width: 100%;

    @media (min-width: map_get($grid-breakpoints, md)) {
      width: auto;
      margin-right: 20px;
    }

    &--cancel {
      padding: 20px;
      font-size: 14px;

      @media (min-width: map_get($grid-breakpoints, md)) {
        padding: 10px 20px;
      }

      &:hover {
        color: $app-primary;
      }
    }

    &:last-child {
      margin-right: 0;
      //margin-left: auto;
    }
  }
}

::v-deep .preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 115px;
  padding: 24px;
  background-color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 7;
  border-radius: 8px;

  &--invalid {
    background-color: #ffe6e6;
  }

  @media (min-width: map_get($grid-breakpoints, md)) {
    height: 95px;
  }

  @media (min-width: map_get($grid-breakpoints, lg)) {
    height: 115px;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    height: 95px;
  }

  &-heading {
    &__title {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 8px;
      line-height: 150%;

      @media (min-width: map_get($grid-breakpoints, md)) {
        font-size: 16px;
      }

      @media (min-width: map_get($grid-breakpoints, lg)) {
        font-size: 12px;
      }

      @media (min-width: map_get($grid-breakpoints, xl)) {
        font-size: 16px;
      }

      span {
        font-weight: 400;
        color: $light-gray;
        display: block;

        @media (min-width: map_get($grid-breakpoints, md)) {
          display: initial;
        }
      }
    }

    &__dates {
      font-size: 12px;
      color: $light-gray;

      @media (min-width: map_get($grid-breakpoints, md)) {
        font-size: 14px;
      }

      @media (min-width: map_get($grid-breakpoints, lg)) {
        font-size: 12px;
      }

      @media (min-width: map_get($grid-breakpoints, xl)) {
        font-size: 14px;
      }
    }
  }
}

::v-deep .preview-controls-wrap {
  margin-left: auto;
  position: relative;

  .mobile-control-btn {
    margin-left: auto;
    display: inline-flex;
    width: 24px;
    height: 24px;
    position: relative;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      display: none;
    }

    .control-btn-icon {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &--default {
        opacity: 1;
      }

      &--close {
        opacity: 0;
        width: 18px;
        height: 18px;
      }
    }

    &--opened {
      .control-btn-icon {
        transform: translate(-50%, -50%) rotate(180deg);

        &--default {
          opacity: 0;
        }

        &--close {
          opacity: 1;
        }
      }
    }
  }
}

::v-deep .preview-controls {
  display: flex;
  align-items: center;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-right: 10px;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    position: static;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    margin-right: 0;
    transform: none;
    background-color: transparent;
  }

  &__btn {
    margin: 0 5px;

    @media (min-width: map_get($grid-breakpoints, md)) {
      margin: 0 8px;
    }

    &--move {
      cursor: move;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    &:hover {
      svg {
        fill: $app-primary;
      }
    }
  }

  &__separator {
    width: 1px;
    height: 15px;
    background-color: #f3f3f3;
    margin: 0 8px;
  }
}

::v-deep .preview--invalid {
  background-color: #ffe6e6;

  .preview-heading {
    &__title {
      color: $red;

      span {
        color: $red;
      }
    }

    &__dates {
      color: $red;
    }
  }

  svg {
    fill: $red;
  }
}

::v-deep .experience-form--active {
  max-height: 1000px;
  overflow: visible;
  z-index: 20;

  @media (min-width: map_get($grid-breakpoints, md)) {
    max-height: 890px;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    max-height: 680px;
  }

  .preview {
    height: 0;
    padding: 0;
  }
}

::v-deep .experience-form-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, 0.7);
  z-index: 10;
}
