.header-section {
  padding: 12px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(65, 64, 64, 0.05);
  min-height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 12;

  @media (min-width: map_get($grid-breakpoints, md)) {
    padding: 12px 0;
    min-height: 65px;
  }
}

::v-deep .header-auth-btn.header-auth-btn {
  padding: 5px 20px;
  min-width: 120px;
  height: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    font-size: 14px;
    padding: 0 15px;
  }
}
